<h1> Comments </h1>
<br>
<br>
<%=link_to "Add a new comment", new_comment_path %>
<br>
<br>
<% @comments.each do |comment| %>
  <%= comment.name %> 
  <%= comment.title %> <br>
  <%= comment.text %> <br>

<br>
<br>
<br>

<% end %>
