<h1>About 20 in 20</h1>
<br>
<br>
<p>We will keep an updated log of each project here since not all apps will be interactive for all users.  Some of our ideas are for us only or to harass our BEWDiful teachers.</p>
<br>
<br>
<br>
<br>
<br>

