<h1>20 in 20</h1>
<br>
<br>
<h2>Hi, we are Alexis and Jenni</h2>
<h2>and we are making</h2>
<h2>20 Apps in 20 days</h2>
<br>
<br>
<p>Alexis and Jenni took Back End Web Development through General Assembly and this is our final project.</p>
<p>Rather than trying to perfect one big project we chose to work on many small projects with the hope that we could learn and practice each concept we were taught in class rather than trying to pick on big project that uses all of the concepts.</p>

<p>We started working on the projects at the end of July and we plan to add a new App everyday for 20 day from August 15th through September 4th.</p>

<p>Our second App will be for comments so wait for that.</p>

<p>We were inspired by <a href="http://jenniferdewalt.com"> Jennifer Dewalt </a> but far too lazy to do this for 180 days. We can’t even do it for 20 days each, so we are going to do one app each every other day resulting in 20 total but 10 each. </p>

<p>Monitor our log of apps in the <a href="about_apps#idex"> About </a> section</p>
<br>
<br>
<br>