<h1>20 in 20</h1>
<br>
<br>
<h3>Hi, we are Alexis and Jenni <br> We are making 20 Apps in 20 days</h3>
<br>

<p> App 4 </p>
<!-- <p> App 5 </p> 
<p> App 6 </p>
<p> App 7 </p>
<p> App 8 </p>
<p> App 9 </p>
<p> App 10 </p>
<p> App 11 </p>
<p> App 12 </p>
<p> App 13 </p>
<p> App 14 </p>
<p> App 15 </p>
<p> App 16 </p>
<p> App 17 </p>
<p> App 18 </p>
<p> App 19 </p>
<p> App 20 </p> -->
<p> App 3 <%= link_to "Comments", comments_path %></p>
<p> App 2 <%= link_to "About", about_apps_path %> </p>
<p> App 1 <%= link_to "Home (here)", root_path %> </p>

<br>
<br>
<br>